.game-historic-separator {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0;
    height: 0;
}

.games-lines {
    transition: background-color 0.2s ease-in-out;
}

.games-lines:hover {
    background-color: #3b3936;
}